* {
  margin: 0;
}

.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
  height: max-content;
  background-color: #dadbd3;
}
.box {
  display: flex;
  background-color: #ededed;
  height: 100vh;
  width: 100vw;
}
